@model IEnumerable<Category>
@{
	ViewData["Title"] = "Categories";
}
<div id="modalPlaceHolder"></div>
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-10">
						<h4 class="mt-0 header-title">@ViewData["Title"] Stock</h4>
						<p class="text-muted mb-4 font-13">
							Available all @ViewData["Title"].
						</p>
					</div>

					<div class="col-lg-2">
						<button class="btn btn-success btn-outline-dashed float-right" for="Add" data-toggle="modal" data-animation="bounce" data-target="#add-category-modal" data-url="@Url.Action("Add")"><i class="dripicons-plus"></i> Add Category</button>
					</div>
				</div>


				<table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%; font-size:15px;">
					<thead>
						<tr>
							<th>@Html.DisplayNameFor(model => model.Id)</th>
							<th>@Html.DisplayNameFor(model => model.Name)</th>
							<th>@Html.DisplayNameFor(model => model.Deleted)</th>
							<th>Action</th>
						</tr>
					</thead>


					<tbody>
						@foreach (var item in Model)
						{
							<tr data-id="@Html.DisplayFor(modelItem => item.Id)">
								<td>@Html.DisplayFor(modelItem => item.Id)</td>
								<td>@Html.DisplayFor(model => item.Name)</td>
								<td for="status">
									@if (item.Deleted == true)
									{
										<span class="badge badge-soft-danger">Deleted</span>
									}
									else if (item.Deleted == false)
									{
										<span class="badge badge-soft-success">Active</span>
									}
								</td>
								<td for="buttons">
									<button class="btn btn-info mr-2" for="Edit" data-toggle="modal" data-animation="bounce" data-target="#edit-category-modal" data-url="@Url.Action("Edit")"><i class="dripicons-pencil mr-1"></i> Edit </button>
									@if (item.Deleted == true)
									{
										<button class="btn btn-soft-warning" for="Restore"><i class="dripicons-clockwise mr-1"></i>Restore</button>
									}
									else
									{
										<button class="btn btn-soft-danger" for="Delete"><i class="dripicons-trash mr-1"></i>Delete</button>
									}
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

@section MainScripts{
	<script src="~/plugins/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
	<script src="~/plugins/datatables/dataTables.bootstrap4.min.js"></script>
	<script src="~/plugins/datatables/dataTables.buttons.min.js"></script>
	<script src="~/plugins/sweet-alert2/sweetalert2.min.js"></script>
}

@section Scripts{
	<script src="~/js/datatable.js"></script>
}

@section Style{
	<link href="~/plugins/datatables/dataTables.bootstrap4.min.css" />
	<link href="~/plugins/datatables/buttons.bootstrap4.min.css" />
	<link href="~/plugins/datatables/responsive.bootstrap4.min.css" />
	<link href="~/plugins/sweet-alert2/sweetalert2.min.css" />
} 